
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template:
    'header header header' 150px
    'left-menu middle right-menu' 1fr /
    1fr 2fr 1fr;
}

/* HEADER */

.header {
  grid-area: header;
  background-color: #ffcc0072;
  padding: 15px;
  text-align: center;
  display: grid;
  align-content: center;
  grid-template-columns: 100px 500px 1fr;
  gap: 120px;
}

.header_elements {
  border: rgb(148, 0, 0) solid 2px;
  padding: 15px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

}

.header_navbar {
  border: black solid 2px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
}

.header_menu {
  border: black solid 2px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
}

/* LEFT AREA */

.left-menu {
  grid-area: left-menu;
  background-color: #bc000070;
  padding: 10px;
}

.left-menu-section {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
}

.left-menu-profile {
  border: black solid 1px;
  padding: 10px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
}

/* MIDDLE AREA */

.middle {
  grid-area: middle;
  background-color: #00810070;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-auto-rows: 250px;
}

.middle-section, .middle-post {
  border: black solid 1px;
  padding: 15px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
  grid-auto-rows: 85px;
}

.middle-post-upper, .middle-post-lower {
  border: black solid 2px;
  padding: 15px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}


.middle .menu-item, .menu-item {
  height: 200px;
}

/* RIGHT AREA */

.right-menu {
  grid-area: right-menu;
  background-color: #ff00ff70;
  padding: 10px;
  grid-template-rows: 1fr;
  gap: 10px;
  grid-auto-rows: auto;
}

.menu-item {
  border: black solid 1px;
  padding: 15px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
  height: auto;
}

.menu-item-news {
  border: black solid 1px;
  padding: 15px;
  margin: 5px;
  text-align: center;
  display: grid;
  align-content: center;
}